.navbar {
    width: 100%;
    justify-content: center;
    display: flex;
}

.navbarBlock {
    background-color: #EAEAEA;
    width: 1135px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    cursor: pointer;
    font-size: 25px;
    line-height: 31px;
    color: #101010;
    margin-right: auto;
    font-family: 'Montserat', sans-serif;
    text-decoration: none;
}

.navLink {
    text-decoration: none;
    color: #101010;
}

.iconContainer::before {
    content: attr(data-count);
    position: absolute;
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
    top: -4px;
    right: -10px;
    width: 18px;
    height: 18px;
    font-size: 15px;
    background: #FFA542;
    color: #FFFFFF;
    border-radius: 10px;
}

.iconContainer[data-count='0']::before {
    visibility: hidden;
}

.iconContainer {
    display: flex;
    position: relative;
    margin-right: 40px;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}