.result {
    width: 349px;
    height: 114px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 #0000001A;
    align-self: flex-start;
    margin-top: 95px;
}

.confirm {
    width: 349px;
    height: 65px;
    top: 188px;
    border-radius: 20px;
    color: #FFFFFF;
    box-shadow: 0 0 20px 0 #00000040;
    font-size: 17px;
    font-family: Montserat, sans-serif;
    line-height: 21px;
    background-color: #101010;
    cursor: pointer;
}

.confirm :hover {
    background-color: green;
    padding: 10px;
    transition-duration: 0.4s;
}